* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}
window#waybar {
    background: #000;
    color: #fff;
}
#workspaces button {
    padding: 0 5px;
    color: #666;
    background: transparent;
}
#workspaces button.active {
    color: #fff;
}
#clock {
    padding: 0 10px;
}